.header-container {
  background-color: #fff5e1;
  display: flex;
  border: 3px solid #0c1844;
  padding: 10px;
  justify-content: space-between;
  margin: 2px;
  border-radius: 5px;
}
.app-body {
  margin: 2px;
  padding: 10px;
  border: 3px solid #0c1844;
  border-radius: 5px;
}
.header-nav a,
button {
  margin: 0 5px;
}
.header-logo {
  color: #fff5e1;
  background-color: #0c1844;
  padding: 7px 10px 0 10px;
  font-family: "Concert One", sans-serif;
}
a {
  margin: 0 5px;
  color: #fff5e1;
  background-color: #ff6969;
}
a:hover,
.link-active {
  background-color: #c80036;
}
